<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.mysolution.edi.repository.EdiMasterMapper">

<select id="getEdiCodeSeq" resultType="String">
	SELECT 'E'||lpad(SEQ_EDI_MASTER.NEXTVAL, 7, '0') FROM DUAL
</select>

<select id="getEdiTotalCount" resultType="int">
	SELECT COUNT(*) FROM edi_master
</select>

<select id="getEdiMasterAll" resultMap="EdiMasterMapping">
	SELECT edi_code, inp_emp_code, inp_emp_name, edi_type_name, edi_status_name, inp_date, edi_title, edi_contents, edi_status, edi_type
	FROM 
	   ( SELECT a.edi_code, a.inp_emp_code, a.edi_status, a.edi_type,
	       (SELECT emp_name FROM emp_list b WHERE b.emp_code = a.inp_emp_code) AS inp_emp_name,
	       (SELECT code_name FROM common_code_map b WHERE b.column_id = 'EDI_TYPE' AND b.code_id = a.edi_TYPE) AS edi_type_name,
	       (SELECT code_name FROM common_code_map b WHERE b.column_id = 'EDI_STATUS' AND b.code_id = a.EDI_STATUS) AS edi_status_name,
	       inp_date, edi_title, edi_contents,
	       ROW_NUMBER() OVER(ORDER BY edi_code DESC) AS rNum
	    FROM edi_master a     
	    ORDER BY a.edi_code DESC )
	WHERE 1=1 	
	  AND rNum BETWEEN (#{ countPerPage } * (#{ page } - 1)) + 1
	  AND (#{ countPerPage } * (#{ page } - 1)) + #{ countPerPage }
</select>

<insert id="createEdiMaster">
	INSERT INTO EDI_MASTER (
	    EDI_CODE, INP_EMP_CODE, EDI_TITLE, EDI_CONTENTS, EDI_TYPE, EDI_STATUS
	) VALUES (
	    #{ ediCode }, #{ inpEmpCode }, #{ ediTitle }, #{ ediContents }, #{ ediType }, #{ ediStatus }
	)
</insert>

<insert id="createEdiSett">
	INSERT INTO EDI_SETT (
	    EDI_CODE, EDI_SEQ, SETT_EMP_CODE, EDI_SETT_STATUS, EDI_COMMENTS
	) VALUES (
	     #{ ediCode }, #{ ediSeq }, #{ settEmpCode }, #{ ediSettStatus }, #{ ediComments }
	)
</insert>

<insert id="createCoWork">
	INSERT INTO EDI_COWORK_DEPT (
	    EDI_CODE, EDI_SEQ, COWORK_DEPT_CODE, EDI_COWORK_STATUS, EDI_COWORK_COMMENTS
	) VALUES (
	    #{ ediCode }, #{ ediSeq }, #{ coWorkDeptCode }, #{ ediCoWorkStatus }, #{ ediCoWorkComments }
	)
</insert>

<insert id="createInform">
	INSERT INTO EDI_INFORM_DEPT (
	    EDI_CODE, EDI_SEQ, INFORM_DEPT_CODE
	) VALUES (
	    #{ ediCode }, #{ ediSeq }, #{ informDeptCode }
	)
</insert>

<resultMap id="EdiMasterMapping" type="com.mycompany.mysolution.edi.domain.EdiMaster">	
	<id column="edi_code" property="ediCode"/>
	<result column="inp_emp_code" property="inpEmpCode"/>
	<result column="edi_title" property="ediTitle"/>
	<result column="edi_contents" property="ediContents"/>
	<result column="edi_type" property="ediType"/>
	<result column="edi_status" property="ediStatus"/>
	<result column="file_name" property="fileName"/>
	<result column="inp_date" property="inpDate"/>
	<result column="update_date" property="updateDate"/>
	<result column="inp_emp_name" property="inpEmpName"/>
	<result column="edi_type_name" property="ediTypeName"/>
	<result column="edi_status_name" property="ediStatusName"/>
</resultMap>

<resultMap id="EdiSettMapping" type="com.mycompany.mysolution.edi.domain.EdiSett" >
	<id column="EDI_CODE" property="ediCode"/>
	<id column="EDI_SEQ" property="ediSeq"/>
	<id column="SETT_EMP_CODE" property="settEmpCode"/>
	<result column="EDI_COMMENTS" property="ediComments"/>
	<result column="INP_DATE" property="inpDate"/>
	<result column="UPDATE_DATE" property="updateDate"/>
</resultMap>

<resultMap id="EdiCoWorkMapping" type="com.mycompany.mysolution.edi.domain.EdiCoWork" >
	<id column="EDI_CODE" property="ediCode"/>
	<id column="EDI_SEQ" property="ediSeq"/>
	<id column="COWORK_DEPT_CODE" property="coWorkDeptCode"/>
	<result column="EDI_COWORK_STATUS" property="ediCoWorkStatus"/>
	<result column="EDI_COWORK_COMMENTS" property="ediCoWorkComments"/>
	<result column="INP_DATE" property="inpDate"/>
	<result column="UPDATE_DATE" property="updateDate"/>
</resultMap>

<resultMap id="EdiInformMapping" type="com.mycompany.mysolution.edi.domain.EdiInform" >
	<id column="EDI_CODE" property="ediCode"/>
	<id column="EDI_SEQ" property="ediSeq"/>
	<id column="INFORM_DEPT_CODE" property="informDeptCode"/>
	<result column="INP_DATE" property="inpDate"/>
	<result column="UPDATE_DATE" property="updateDate"/>
</resultMap>
</mapper>